@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', monospace;
    user-select: none;
}

html, body {
    overflow: hidden;
    margin: 0;
    cursor: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    cursor: url("./res/img/cursor/cursor.png"), auto;
}